.recharge {
    display: flex;
    flex-direction: column;
}

.recharge__info {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.recharge__info-item {
    width: calc(50% - 0.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: 1px solid #e0e0e0;
}

.recharge__info-item__image {
    width: 15rem;
    height: 6rem;

    margin-bottom: 2rem;
}

.recharge__info-item__content {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 30rem;
}

.recharge__info-item__content-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 1rem;
    width: 15rem;
}

.recharge__info-item__content-value {
    font-size: 1.2rem;
    color: #af7217;
    font-weight: 600;
}

.recharge__tutorial {
    padding: 1rem;
}

.recharge__tutorial-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.recharge__tutorial-content {
    display: flex;
    flex-direction: column;
}

.recharge__tutorial-content-item {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.recharge__tutorial-content-item span {
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-weight: bold;
}